{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-md-10 ml-md-auto">
				<div class="login card bg-light mt-5" style="width: 800px">
					<div class="card-body">
						<div class="registration card-header mb-3">Please sign in</div>

						<form method="post">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}

							{% if app.user %}
								<div class="mb-3">
									You are logged in as
									{{ app.user.username }},
									<a href="{{ path('app_logout') }}">Logout</a>
								</div>
							{% endif %}

							<div class="form_group">
								<div class="col-md-12 mb-3">
									<label for="inputAccount">Account</label>
									<input type="text" value="{{ last_username }}" name="account" id="inputAccount" class="form-control" required autofocus>
								</div>
							</div>

							<div class="form_group">
								<div class="col-md-12 mb-3">
									<label for="inputPassword">Password</label>
									<input type="password" name="password" id="inputPassword" class="form-control" required>
								</div>
							</div>

							<div class="form-group">
								<div class="col-md-3" style="margin-top:5px; float:right; padding-left:10%">
									<button type="submit" class="btn btn-outline-success">
										<i class="fa fa-sign-in"></i>
										Sign in
									</button>
								</div>
							</div>

							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
