 {% extends 'base.html.twig' %} 
 {%block body %}
<div class="container">
  <div class="row">
    <div class="col-md-10 ml-md-auto">
      <div class="card bg-light mb-3 mt-5" style="width: 800px">
        <div class="card-body">
          <div class="registration card-header mb-3">Registration</div>
          {{ form_start(form) }}
           <div class="form_group">
            <div class="col-md-12 mb-3">
              {{ form_row(form.account, {'attr': {'class': 'form-control'}}) }}
            </div>
          </div>

          <div class="form_group">
            <div class="col-md-12 mb-3">
              {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
          </div>

          <div class="form_group">
            <div class="col-md-12 mb-3">
              {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
          </div>
          
          <div class="form_group">
            <div class="col-md-12 mb-3">
              {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
            </div>
          </div>

          <div class="form_group">
            <div class="col-md-12 mb-3">
              {{ form_row(form.password.first, {'attr': {'class':'form-control'}}) }}
            </div>
          </div>

          <div class="form_group">
            <div class="col-md-12 mb-3">
              {{ form_row(form.password.second, {'attr': {'class':'form-control'}}) }}
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12 mb-3">
              {{ form_row(form.roles, {'attr': {'class': 'form-control'}}) }}
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-3" style="margin-top:5px; float:right; padding-left:9.5%">
              <button type="submit" class="btn btn-outline-success">
                <i class="fa fa-btn fa-user"></i> Register
              </button>
            </div>
          </div>
          {{ form_end(form) }}
        </div> 
      </div>
    </div>
  </div>
</div>
{% endblock %}
