<form method="post" action="{{ path('delete_post', {'id': blogPost.id}) }}" onsubmit="return confirm('Are you sure you want to delete this post?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete_post' ~ blogPost.id) }}">
    
    <button type="button" class="btn btn-outline-danger">
    <i class="fa fa-trash"></i> Delete</button>
</form>
