{{ form_start(form) }}

    <div>
        {{ form_label(form.title, 'Title*')}}
        {{ form_widget(form.title,{ 'attr': {'class': 'form-title'} }) }}
    </div>

    <div>
        {{ form_label(form.body, 'Body*')}}
        {{ form_widget(form.body, { 'attr': {'class': 'form-body'} }) }}
    </div>

    <button class="btn btn-outline-success">{{ button_label|default('Save') }}</button>
    
{{ form_end(form) }}