{% extends "base.html.twig" %}
{% block title %}
	A Melancholy Blog
{% endblock %}
{% block body %}
	<div class="archives container mt-5">
		<div class="row">
			<div class="col-md-12 col-lg-12 col-xl-12">
				{% for label, messages in app.flashes %}
					{% for message in messages %}
						<div class="alert alert-{{ label }}" role="alert">
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							{{ message }}
						</div>
					{% endfor %}
				{% endfor %}
			</div>
		</div>
		{% if (blogPosts|length == 0) %}
			<h4>Nothing to show...</h4>
		{% else %}
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				{% for blogPost in blogPosts %}
					<div class="col">
						<div class="card shadow-sm">
							{# <svg class="bd-placeholder-img card-img-top" width="100%" height="225" 
							xmlns="https://commons.wikimedia.org/wiki/File:Greenland_dog_upernavik_2007-06-02_sample.jpg" 
							role="img" aria-label="Placeholder: Post Thumbnail" preserveaspectratio="xMidYMid slice" focusable="false"> #}
							<img height="225" width="100%" src="https://upload.wikimedia.org/wikipedia/commons/4/45/Greenland_dog_upernavik_2007-06-02_sample.jpg" />
								<rect width="100%" height="100%" fill="#55595c"/>
							</svg>

							<div class="card-body ">
								<a href="{{ path('view_post', {('slug') : blogPost.slug} )}}">
									<h5>{{blogPost.title}}</h5>
								</a>
								<p class="card-text text-limit">{{ blogPost.description }}</p>
								<div class="d-flex justify-content-between align-items-center">
									<small class="text-muted">{{ blogPost.createdAt | date("d/m/Y", "Europe/Paris") }}</small>
									<small class="text-muted">{{ blogPost.author.name }}</small>
									<div class="btn-group">
										<button type="button" class="btn btn-sm btn-outline-secondary">
											<a href="{{ path('view_post', {('slug') : blogPost.slug} )}}">See post</a>
										</button>

										{% if is_granted("ROLE_USER") %}
											<button type="button" class="btn btn-sm btn-outline-secondary">
												<a href="{{ path('edit_post', { ('slug') : blogPost.slug}) }}">Edit</a>
											</button>
										{% endif %}

									</div>
								</div>
							</div>
						</div>
						<hr>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</div>{% endblock %}
