{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 ml-md-auto">
				<div class="card bg-light mb-3 mt-5" style="width: 800px">
					<div class="card-body">
						{% if title == "Edit post" %}
							<div class="col-md-9">
								<h2>{{ title }}</h2>
							</div>
							<div class="col-md-2 ml-auto">
								{{ include('blog/_delete_form.html.twig') }}
							</div>
							<div class="col-md-2 ml-auto">
								<a class="btn btn-outline-info" href="{{ path('archives') }}">
									<i class="fa fa-btn fa-arrow-left"></i>
									Back
								</a>
							</div>

						{% else %}
							<div class="col-md-11">
								<h2>{{ title }}</h2>
							</div>

							<div class="col-md-1 my-auto">
								<a class="btn btn-outline-info btn-sm float-right" href="{{ path('archives') }}">
									<i class="fa fa-btn fa-arrow-left"></i>
									Back</a>
							</div>

						{% endif %}
						<hr>

						{{ form_start(form) }}

						<div class="form_group">
							<div class="col-md-12 mb-3">
								{{ form_row(form.title) }}
							</div>
						</div>
						<div class="form_group">
							<div class="col-md-12 mb-3">
								{{ form_row(form.description) }}
							</div>
						</div>

						<div class="form_group">
							<div class="col-md-12 mb-3">
								{{ form_row(form.body) }}
							</div>
						</div>

						<div class="form_group">
							<div class="col-md-12 mb-3">
								{{ form_row(form.create) }}
							</div>
						</div>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
