{% extends 'base.html.twig' %}

{% block title %}A melancholy blog
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 ml-md-auto">
				<div class="card bg-light mb-3 mt-5" style="width: 800px">
					<div class="card-body">
						<h1>{{ blogPost.title }}</h1>
						<hr>
						<div class="row">
							<div class="col-sm">
								<p>Author :
									{{ blogPost.author.name }}</p>
							</div>
							<div class="col-sm">
								<p style="text-align: center;">Posted on
									{{ blogPost.createdAt | date("d/m/Y", "Europe/Paris") }}</p>
							</div>
							<div class="col-sm">
								<p style="text-align: right;">Updated on
									{{ blogPost.updatedAt | date("d/m/Y", "Europe/Paris") }}</p>
							</div>
						</div>
						<hr>
						<img class="img-fluid rounded" src="https://static.billboard.com/files/2020/07/03-taylor-swift-cr-Beth-Garrabrant-press-photo-2020-billboard-1548-1595547189-1024x677.jpg" alt="">
						<p id="postBody">{{ blogPost.body }}</p>
						<hr>
						<a class="btn btn-outline-info" href="{{ path('archives') }}" role="button" style="margin-top:5px; float:right;">
							<i class="fa fa-btn fa-arrow-left"></i>
							Back</a>
						{% if is_granted("ROLE_USER") %}
							<a class="btn btn-outline-primary" href="{{ path('edit_post', { ('slug') : blogPost.slug}) }}" role="button">
								<i class="fa fa-btn fa-edit"></i>
								Edit</a>
							{{ include('blog/_delete_form.html.twig') }}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
