@import "~bootstrap";
@import "~font-awesome";

body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  display:flex; 
  flex-direction:column; 
  background-image: url("../image/download.png");
  background-size: auto;
  background-color: #ffffff;
}

hr {
  border-top: 1px solid #58d68d;
}

h1 {
  text-align: center;
}

textarea.description {
  height: 150px 
}

textarea.content {
  height: 300px 
}

nav {
  border: 1px solid #58d68d;
}

footer {
  position: relative;
  bottom:0px;
  width: 100%;
  height: 100px;
  margin-top: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  border: 0.5px solid #58d68d;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

footer p {
  color: black;
  font-size: 18px;
  margin-top: 0em;
}

#postBody {
  text-align: justify;
  text-justify: inter-word;
  margin-top: 1em;
}

.text-limit {
  width: 20em; /* the element needs a fixed width (in px, em, %, etc) */
  overflow: hidden; /* make sure it hides the content that overflows */
  white-space: nowrap; /* don't break the line */
  text-overflow: ellipsis; /* give the beautiful '...' effect */
}

.registration {
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #58d68d;
}

.card-body {
  border: 1px solid #58d68d;
}

.navbar-brand {
  margin-left: 1em;
}

.nav {
  margin-right: 1em;
}
.card > card-body {
  padding-left: 2em;
}

.card > card-body > p {
  margin-top: 1em;
  margin-bottom: 0px;
}

.card-body > row > col-sm {
  text-align: center;
}

.login {
  margin-bottom: 15em;
}
