<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}A Melancholy Blog
			{% endblock %}
		</title>
		{# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>  #}
		{% block stylesheets %}
		 {{ encore_entry_link_tags('app') }}
		{% endblock %}
		</head>
		<body>
			{% include 'nav_bar.html.twig' %}
			{% block body %}{% endblock %}
			{% block javascripts %}
			  {{ encore_entry_script_tags('app') }}
			 {% endblock %}
			{% block footer %} {% include 'footer.html.twig' %} {% endblock %}
		</body>
</html>
