<footer>
	<div class="container">
		<div id="footer-copyright">
				<p>&copy;
					{{ 'now'|date('Y') }}
					- A Melancholy Blog - NGUYEN Tran Tuan Nam</p>
					<p>
						<i class="fa fa-bicycle"></i>
						<a href="{{ path("api_index") }}">
							 Show my last 5 blog posts on yours</a>
					</p>
			</div>
	</div>
</footer>
