<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 80px;">
	<a class="navbar-brand" href="{{ path('index') }}">Melancholy</a>
	<div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
	<ul class="nav navbar-nav navbar-right">
		{% if app.user %}
			<li>
				<a class="fa fa-btn fa-plus nav-link" href="{{ path('create_post', {('author') : app.user.account }) }}">
					Create Post   </a>
			</li>
			<li>
				<a class="fa fa-btn fa-list nav-link" href="{{ path('archives') }}">
					View Blog Posts   </a>
			</li>
			<li>
				<a class="fa fa-btn fa-sign-out nav-link" href="{{ path('app_logout') }}">
					Logout   </a>
			</li>
		{% else %}
			<li>
				<a class="fa fa-btn fa-sign-in nav-link" href="{{ path('app_login') }}">
					Login   </a>
			</li>
			<li>
				<a class="fa fa-btn fa-user nav-link" href="{{ path('registration') }}">
					Register   </a>
			</li>
		{% endif %}
	</ul>
</div></nav>
